.task-card-incomplete {
    height: 77px;
    width: 462px;
    top: -3px;
    left: -4866px;
    border: 1;
    border-radius: 4em;
    border-color: D8D8D8;
    cursor: pointer;
    display: inline-block flex;
    background-color: #FFFFFF;
}

.task-card-complete {
    height: 77px;
    width: 462px;
    top: -3px;
    left: -4866px;
    border: 1;
    border-radius: 4em;
    cursor: pointer;
    display: inline-block flex;
    background-color: #E2FFE5;
}

.task-checkbox-container {
    width: 30px;
    flex-shrink: 0;
}

.task-content-container {
    flex-grow: 1;
}

.task-card-title {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 21.78;
    color: #000000;
    background-color: transparent;

}

.task-card-description {
    color: #333;
    background-color: transparent;
    line-height: 16.94;
    font-size: 14px;
}


.task-checkbox-isComplete {
    width: 25px, ;
    height: 25px;
    top: 23px;
    left: -4848px;
    border-radius: 8em;
    border: 1;
    border-color: #D8D8D8;
    background: #359845;
}

.task-checkbox-notComplete {
    width: 25px, ;
    height: 25px;
    top: 23px;
    left: -4848px;
    border: 1;
    border-radius: 8em;
    border-color: #D8D8D8;
    background: #FFFFFF;

}